.git
.github
.vs
.vscode
.build-tools
build
build-dev
reports
dl_apk
services/online-api/.pytest_cache
services/online-api/.venv
services/online-api/*.db
services/online-api/*.egg-info
*.apk
*.log
*.pid
__pycache__
android/converted_textures
lib/astc-encoder
lib/curl
lib/freetype
lib/harfbuzz
lib/ifaddrs
lib/libadrenotools
lib/libjpeg
lib/libogg
lib/libpng
lib/libvorbis
lib/mbedtls
lib/mesa
lib/openal
lib/sdl2
lib/shaderc
lib/zlib
