{$MK_ONLINE_DOMAIN} {
    encode zstd gzip
    reverse_proxy api:8000
}

{$MK_PERSONAL_DOMAIN} {
    encode zstd gzip
    root * /srv/robsonchristie
    file_server
}

{$MK_SITE_DOMAIN} {
    encode zstd gzip
    root * /srv/minkowskikart
    file_server
}
